/* Transparent BG */
.shopbox { -webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0; background: rgba(0,0,0,0.7); }

.shopbox.shopbox-hidden { display: none; }

/* Main Modal Window */
.shopbox-main {
	/*
	-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.20s ease-in-out; -ms-transition: all 0.15s ease-in-out;
	transform: scale(0.75) rotateY(180deg) rotateX(180deg);
	-webkit-transform: scale(0.75) rotateY(180deg) rotateX(180deg);
	-moz-transform: scale(0.75) rotateY(180deg) rotateX(180deg);
	-ms-transform: scale(0.75) rotateY(180deg) rotateX(180deg);
	*/
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.20s ease-in-out; -ms-transition: all 0.15s ease-in-out;
	transform: translate3d(0,-500px,0);
	-webkit-transform: translate3d(0,-500px,0);
	-moz-transform: translate3d(0,-500px,0)
	-ms-transform: translate3d(0,-500px,0)
	width: 400px; height: 400px; position: absolute; top: 50%; left: 50%; margin-left: -210px; margin-top: -210px;
  border: 10px solid #FFF; 
  background: #FFF;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}

/* Content Wrapper */
.shopbox-content * {
	width: 400px; height: 400px;
}

@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }

.shopbox-spinner  {
	-webkit-transition: opacity 0.5s ease-in-out;
	opacity: 0;
	-webkit-animation-name:             rotate; 
  -webkit-animation-duration:         0.25s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
  position: absolute; top: 50%; left: 50%; margin: -15px 0 0 -15px; height: 30px; width: 30px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAh0lEQVR42u3VSwrAIAwE0F6l4KkC3Qq5/7bBCjXdjOkqEkojzGrAhz/cWmshSTjhhMPg8tatgmvP2UOTjkZX/WBFdSiOqI7qBe/PxIiT0RWXFRuA3AGUnM8YcQv1gRGXCSqKhsKhW/3py1WMJ3OMLH1ODKh2iLP3GTOgiHPIJ5H/ccIJ/wu+ALcP4jo2BwVXAAAAAElFTkSuQmCC);
}
.shopbox-spinner.shopbox-visible {
	opacity: 1;
}


/* Close Button */
.shopbox-close {
	-webkit-transition: background-color 0.1s ease-in-out;
  position: absolute; width: 30px; height: 30px; top: -25px; right: -25px;
  border: 5px solid #FFF;
  border-radius: 30px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAh0lEQVR42u3VSwrAIAwE0F6l4KkC3Qq5/7bBCjXdjOkqEkojzGrAhz/cWmshSTjhhMPg8tatgmvP2UOTjkZX/WBFdSiOqI7qBe/PxIiT0RWXFRuA3AGUnM8YcQv1gRGXCSqKhsKhW/3py1WMJ3OMLH1ODKh2iLP3GTOgiHPIJ5H/ccIJ/wu+ALcP4jo2BwVXAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-color: #000;
	text-indent: -30000px;
}
.shopbox-close:hover {
	background-color: #6E0012;
}

/* Transparent BG - Animation End */
.shopbox.shopbox-visible { opacity: 1; }

/* Main Modal Window - Animation End */
.shopbox.shopbox-visible.shopbox-loaded .shopbox-main {
	/*
	transform: scale(1) rotateY(0deg) rotateX(0deg);
	-webkit-transform: scale(1) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(1) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(1) rotateY(0deg) rotateX(0deg);
	*/
	opacity: 1;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);	
}